name: My First CI

on:
  push:

jobs:
  test-job:
    runs-on: ubuntu-latest

    steps:
      - name: Get my code
        uses: actions/checkout@v4

      - name: Say hello
        run: echo "Hello Lagan, CI is running!"
